@using BankofEduTech.Core.Application.Features.Queries.AppUser.LoginUser
@model LoginUserQueryRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayoout.cshtml";
 
}

<div id="auth">

    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
              
                <h1 class="auth-title">Giriş Yap.</h1>

                <form method="post">
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="text" asp-for="Username" class="form-control form-control-xl" placeholder="Kullanıcı adı">
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="password" asp-for="Password" class="form-control form-control-xl" placeholder="Şifre">
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Giriş Yap</button>
                </form>
                <div class="text-center mt-5 text-lg fs-4">
                    <p class="text-gray-600">
                        Bir hesabınız yok mu? <a href="/Login/Register"
                                                  class="font-bold">
                            Kayıt Ol
                        </a>.
                    </p>
                    <p><a class="font-bold" href="auth-forgot-password.html">Şifrenizi mi unuttunuz?</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">
            </div>
        </div>
    </div>

</div>