<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
       
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item">
                    <a href="/Admin/Home" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="/Admin/Customer" class='sidebar-link'>
                        <i class="bi bi-person"></i>
                        <span>Müşteri Listesi</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/Admin/CustomerCredit" class='sidebar-link'>
                        <i class="bi bi-person"></i>
                        <span>Bekleyen Kredi Başvuruları</span>
                    </a>
                </li>
@*                 <li class="sidebar-item  ">
                    <a href="/User/Account" class='sidebar-link'>
                        <i class="bi bi-person"></i>
                        <span>Profil</span>
                    </a>
                </li>
                <li class="sidebar-item  ">
                    <a href="/User/Money" class='sidebar-link'>
                        <i class="fa-sharp fa-solid fa-paper-plane"></i>
                
                        <span>Para Transferi</span>
                    </a>
                </li>

                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-credit-card"></i>
                        <span>Hesap İşlemleri</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/User/Account/GetAllAccount">Tüm Hesaplarım</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/User/Account/CreateAccount">Vadesiz Hesap Aç</a>
                        </li>
                    </ul>
                </li>

  



                <li class="sidebar-item  has-sub">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-credit-card"></i>
                        <span>Kredi İşlemleri</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="/User/Credit">Kredilerim</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="/User/Credit/CreditApplication">Kredi Başvurusu Yap</a>
                        </li>
                   
                    </ul>
                </li> *@





            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>