<script src="~/template/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/template/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/template/assets/vendors/apexcharts/apexcharts.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/template/assets/js/main.js"></script>
<script src="~/template/assets/vendors/choices.js/choices.min.js"></script>
<script src="~/template/assets/vendors/simple-datatables/simple-datatables.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script type="text/javascript">

    $(document).on('click', '.mark-as-read', function (event) {
        event.preventDefault(); 
        const $this = $(this);

        notification.classList.remove('unread');
        this.textContent = "Okundu";
        this.classList.add('text-success');
        this.dataset.read = 'true';
    });

</script>
<script type="text/javascript">
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/notificationHub")
        .build();

    connection.on("ReceiveNotification", function (message) {
        console.log("Yeni bildirim:", message);
        toastr.success(message);
    });

    connection.start().then(function () {
        console.log("SignalR hub'a bağlandı.");
        connection.invoke("CurrentNotification");
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on("ReceiveCurrentNotification", (notifications) => {
        $("#notificationList").empty();

        console.log(notifications);
        if (notifications.length > 0) {
            for (let i = 0; i < 3; i++) {
                const notification = notifications[i];

                const notificationItem = `
                                <li class="dropdown-item notification-item d-flex align-items-start ${notification.isRead ? 'notification-read' : 'notification-unread'}">
                                    <a href="#" class="flex-grow-1">
                                        <i class="bi bi-envelope me-2"></i>
                                        <span class="notification-message">${notification.message}</span>
                                    </a>

                                </li>
                            `;

                $("#notificationList").append(notificationItem);
            }
        }
        else 
        {
                      
            const notificationItem = '<li><a class="dropdown-item" href = "#" >Yeni bildirim yok. </a></li>'
            $("#notificationList").append(notificationItem);
        }
        

    });
</script>
<script>
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);
</script>